#navbar-div {
    width: 100%;
}
/* ramabhadra-latin-400-normal */
@font-face {
    font-family: 'Ramabhadra';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/ramabhadra/files/ramabhadra-latin-400-normal.woff2) format('woff2'), url(@fontsource/ramabhadra/files/ramabhadra-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  @media (min-width: 768px) {
    #nav-menu{
        margin: 0 20px;
    }
  }
  @media (max-width: 768px) {
    button {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 20px;
      }
    .bar {
        display: block;
        position: absolute;
        width: 30px; /* Should match button width */
        height: 3px;
        background-color: black; /* Adjust color as needed */
        transition: all 0.5s ease;
        border-radius: 10px;
      }
      
      /* Position the two lines */
      .bar:nth-child(1) {
        top: 0;
      }
      
      .bar:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      
      /* Animation for the open state */
      button.open .bar:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
        left: 0;
      }
      button.open .bar:nth-child(2) {
        transform: rotate(-45deg);
        top: 50%;
        left: 0;
      }
      #nav-open {
        display: block;
        width: 100%;
        transition: all 0.5s ease;
      }
      #nav-open .nav-link{
        display: block;
        background: #fff;
        border-bottom: 1px solid #e4dfdf;
        padding: 12px 0px;
        font-size: 1rem;
        color: #00bf63;
      }
      #nav-open .nav-link:hover{
        font-size: 1.5rem;
        transition: all 0.3s ease;
        background-color: #00bf63;
        color: #ffffff;
      }
      #nav-open .nav-link *{
        margin: 0px 5px;
        color: #00bf63;
      }
      #nav-open .nav-link:hover *{
        color: #ffffff;
        outline: none;
      }
      #tab-nav-close {
        display: none;
      }
            
  }
  #nav-close {
    display: none;
  }
  button:focus{
    outline-offset: -10px;
  }
  .desknav-link{
    color: #00bf63;
  }
  .desknav-link:focus{
    outline: none;
  }
  .desknav-link:hover{
    transition: all 0.3s ease;
    transform: scale( 1.2);
  }